In [7]:
import pandas as pd
df = pd.DataFrame(
    {
        "a": [4, 5, 6],
        "b": [7, 8, 9],
        "c": [10, 11, 12]
    }
)

df

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [8]:
groceries = pd.Series(
    data = [30, 6, 'Yes', 'No'],
    index = ['eggs', 'apples', 'milk', 'bread']
)

groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
groceries['eggs']

30

In [11]:
groceries.loc[['apples', 'bread']]

apples     6
bread     No
dtype: object

In [12]:
# we can use ilco to access elements in list
groceries.iloc[[2, 3]]

milk     Yes
bread     No
dtype: object

In [13]:
groceries['eggs'] = 50

In [14]:
groceries

eggs       50
apples      6
milk      Yes
bread      No
dtype: object

In [15]:
groceries.drop('appleas')
groceries

KeyError: "['appleas'] not found in axis"

In [16]:
groceries.drop('apples')
groceries

eggs       50
apples      6
milk      Yes
bread      No
dtype: object

In [19]:
groceries.drop('bread', inplace = True)
groceries

eggs     50
milk    Yes
dtype: object

In [21]:
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [22]:
fruits + 2
fruits - 2
fruits ** 2
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [23]:
np.exp(fruits)

NameError: name 'np' is not defined

In [24]:
import numpy as np
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [25]:
np.pow(fruits)

AttributeError: module 'numpy' has no attribute 'pow'

In [26]:
np.power(fruits)

TypeError: power() takes from 2 to 3 positional arguments but 1 were given

In [27]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [28]:
fruits['bananas'] + 2

5

In [29]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [30]:
import pandas as pd

items = {
    'Bob': pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
    'Alice': pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])
}
items

{'Bob': bike     245
 pants     25
 watch     55
 dtype: int64,
 'Alice': book        40
 glasses    110
 bike       500
 pants       45
 dtype: int64}

In [33]:
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [35]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [40]:
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [45]:
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [51]:
items2 = [
    {
        'bikes': 20,
        'pants': 30,
        'watches': 35
    },
    {
        'watches': 10, 
        'glasses': 50, 
        'bikes': 15, 
        'pants':5  
    }
]

store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0